.messages {
	border-top: 1.5px solid #93CCEA;
	border-left: 1.5px solid #93CCEA;
	border-right: 1.5px solid #93CCEA;
	border-bottom: 1.5px solid #93CCEA;
	
	background-color: white;
	cursor: pointer;
	
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	
	margin-right: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	font-size: 15;
	position: relative; left: 50px;
	position: relative; top: -30px;
}
.top {
	position:relative; left: 50px;
}
.new {
	position:relative; left: 50px;
}

.reply {
	position:relative; left: 50px;
}

#list {
		
	
}

#pageChange {
	position:absolute; top: 700px;
	
}