#messageTitle {
	position:relative; left:50px;
	margin-bottom: -10px;
}	
.textbox {
	border-top: 1.5px solid #93CCEA;
	border-left: 1.5px solid #93CCEA;
	border-right: 1.5px solid #93CCEA;
	border-bottom: 1.5px solid #93CCEA;	
	background-color: white;

	font-size: 17;
	position:relative; left: 50px;
	margin-bottom: -10px;
	margin-top: 20px;
	
	width: 750px;
	height: 75px;
}
#post {
	width: 80px;
	font-size: 17;
	border-color: black;
	color: white;
	height: 80px;
	background: #93CCEA;
	border-radius: 50px;
	position:relative; left:55px;
	position:relative; top: -24px;

	overflow: hidden;
	cursor: pointer;
}